<h4>Flights Reservations</h4>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Name (Username)</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Paid</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Fliht Number</th>
                <th>Airline</th>
                <th>Price</th>
                <th>Duration</th>
                <th>Departure/Arrival airport</th>
                <th>Departure/Arrival time</th>
            </tr>
        </thead>
        <tbody>
            <% if (data.length) { %>
            <% data.forEach(function(d, indx){ %>
            <tr>
                <th class="thead-dark"><%= indx + 1 %></th>
                <td>
                    <%= d.title %>
                </td>
                <td>
                    <%= d.firstname %> <%= d.lastname %> (<%= d.username %>)
                </td>
                <td>
                    <%= d.age %>
                </td>
                <td>
                    <%= d.phone %>
                </td>
                <td>
                    <%= d.email %>
                </td>
                <td>
                    <%= d.address %>
                </td>
                <td>
                    <%= d.paid %>
                </td>
                <td>
                    <%= dtm(d.start_datetime) %>
                </td>
                <td>
                    <%= dtm(d.end_datetime) %>
                </td>
                <td>
                    <%= d.flight_num %>
                </td>
                <td>
                    <%= d.airline %>
                </td>
                <td>
                    <%= d.price %>
                </td>
                <td><%= d.duration %></td>
                <td>
                    <%= d.departure_airport %>/<%= d.arrival_airport %>
                </td>
                <td>
                    <%= dtm(d.departure_datetime) %>/<%= dtm(d.arrival_datetime) %>
                </td>
            </tr>
            <% }); %>
            <% } %>
            <% if (data.length == 0) { %>
                <tr>
                    <td colspan="12" class="text-center">No flight reservations found</td>
                </tr>
            <% } %>
        </tbody>

    </table>
</div>