<%- include('../partials/header.ejs') %>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Search Hotels</h1>

        <!-- <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Administration Page </li>
                    </ol> -->
        <div id="content">
            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="key"
                        placeholder="Hotel id, Hotel name, Hotel address">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit" id="button-addon2">Search</button>
                    </div>
                </div>
            </form>

            <% if (data.length ) { %>
            <div class="table-responsive">
                <table class="table table-hover table-striped ">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Street Address</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Price</th>
                            <th>Stars</th>
                            <th>Free Wifi</th>
                            <th>Free Parking</th>
                            <th>Airport Shuttle</th>
                            <th>Swimming Pool</th>
                            <th>Fitness Center</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(function(hotel){ %>
                        <tr>
                            <td><%= hotel.id %></td>
                            <td><%= hotel.name %></td>
                            <td><%= hotel.street_address %></td>
                            <td><%= hotel.city %></td>
                            <td><%= hotel.state %></t>
                            <td><%= hotel.price %></td>
                            <td><%= hotel.stars %></td>
                            <td>
                                <% if (hotel.free_wifi == 1) { %>
                                Yes
                                <% } else { %>
                                No
                                <%} %>
                            </td>
                            <td>
                                <% if (hotel.free_parking == 1) { %>
                                Yes
                                <% } else { %>
                                No
                                <%} %>
                            </td>
                            <td>
                                <% if (hotel.airport_shuttle == 1) { %>
                                Yes
                                <% } else { %>
                                No
                                <%} %>
                            </td>
                            <td>
                                <% if (hotel.swimming_pool == 1) { %>
                                Yes
                                <% } else { %>
                                No
                                <%} %>
                            </td>
                            <td>
                                <% if (hotel.fitness_center == 1) { %>
                                Yes
                                <% } else { %>
                                No
                                <%} %>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <% } %>
            <% if (data.length == 0 ) { %>
            <div class="alert alert-info">No hotels found</div>
            <% } %>
        </div>
    </div>
</main>

<%- include('../partials/footer.ejs') %>