<%- include('partials/header.ejs') %>
<%- include('partials/checkout.ejs') %>
    <div id="cart" class="d-flex justify-content-end mr-5">
        <span class="items align-self-center mr-5 px-3"><span id="cart-item-count"><%= itemcount %></span> items &#128722;</span>
    </div>
    <!-- Modal for Adding/Removing Hotels -->
    <div>
    <div class="modal fade" id="addHotelModal" tabindex="-1" role="dialog" aria-labelledby="addHotelModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addHotelModalLabel">Add Hotel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Selected hotel:
            <div class="card mx-5 my-1 px-3 py-1" data-toggle="modal" data-target="#addHotelModal">
                <!-- Loaded dynamically -->
            </div>
            <div id="hotelDates">
            Selected Dates:<br>
                <div class="my-1 mx-5 px-3 py-1">
                    <table>
                        <tr class="text-right">
                            <td>
                                <label for="checkinDate">Checkin Date:</label>
                            </td>
                            <td>
                                <input type="date" name="checkinDate"><br>
                            </td>
                        </tr>
                        <tr class="text-right">
                            <td>
                                <label for="checkoutDate">Checkout Date:</label>
                            </td>
                            <td>
                                <input type="date"\ name="checkoutDate"><br>
                            </td>
                        </tr>
                    </table>
                 </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-action="add" data-dismiss="modal">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
    </div> 
    <!-- Modal for Redirecting to Login -->
    <div>
    <%- include("partials/modal.ejs") %>
    </div> 
    <!-- Hotels Page Content -->
        <div class="row">
            <div class="col-4 mb-5" id="hotelCol1">
            <form>
                <!-- Search Box -->
                <section id="search" class="section ml-5 mb-5 p-3 bg-primary text-white">
                    <h6 class="d-inline">Search</h6><br>
                    <label for="hotelLoc" class="mb-0">Location:</label><br>
                    <input list="cities" class="form-control mb-1" name="city" placeholder="City" value="<%= city %>"><br>
                    <input list="states" class="form-control mb-3" name="state" placeholder="State" value="<%= state %>"><br>
                        <datalist id="cities">
                          <option value="Mumbai">
                          <option value="Dallas">
                          <option value="Rome">
                          <option value="Rio de Janeiro">
                          <option value="Tokyo">
                          <option value="New York">
                          <option value="Los Angeles">
                          <option value="Chicago">
                          <option value="Denver">
                          <option value="Philadelphia">
                          <option value="Reykjavik">
                          <option value="San Francisco">
                          <option value="Singapore">
                        </datalist>
                        <datalist id="states">
                          <option value="Brazil">
                          <option value="India">
                          <option value="Italy">
                          <option value="Iceland">
                          <option value="Japan">
                          <option value="Singapore">
                          <option value="Pennsylvania">
                          <option value="Illinois">
                          <option value="New York">
                          <option value="California">
                          <option value="Colorado">
                          <option value="Texas">
                        </datalist>
                        <label for="checkinDate" class="mb-0">Check-in:</label>
                        <input type="date" id="checkinDate" name="checkinDate" class="form-control mb-1" value="<%= startime %>">
                        <label for="checkoutDate" class="mb-0">Check-out:</label>
                        <input type="date" id="checkoutDate" name="checkoutDate" class="form-control mb-3" value="<%= endtime %>">
                    
                    <!-- Form submit -->
                    <input type="submit" value="Search" class="btn btn-secondary mx-2 my-2" id="searchfn"><br>
                </section>
                <!-- Filter Box -->
                <section id="filter">
                <div>
                    <div id="filter-btns" class="bg-primary ml-5 p-3 text-white">
                        <h6 class="d-inline">Filter</h6>
                        <span class="float-right">
                            <button type="button" class="btn btn-secondary btn-sm px-2 py-0" id="filterBtn">Apply</button>
                            <button type="button" class="btn btn-secondary btn-sm px-2 py-0" id="clearfilterbtn">Clear All</button>
                        </span>
                    </div>
                    <div class="border border-primary ml-5 px-3 py-1">
                        <!-- Budgets section -->
                        Budget<br>
                        <input type="checkbox" id="price-range1" name="price" value="0-150" <% if (price.includes("0-150")) { %> checked <% } %>>
                        <label for="price-range1">$0 - $150</label><br>
                        <input type="checkbox" id="price-range2" name="price" value="150-350" <% if (price.includes("150-350")) { %> checked <% } %>>
                        <label for="price-range2">$150 - $350</label><br>
                        <input type="checkbox" id="price-range3" name="price" value="350-550" <% if (price.includes("350-550")) { %> checked <% } %>>
                        <label for="price-range3">$350 - $550</label><br>
                        <input type="checkbox" id="price-range4" name="price" value="550+" <% if (price.includes("550+")) { %> checked <% } %>>
                        <label for="price-range4">$550+</label><br>
                    </div>
                    <div class="border border-primary ml-5 px-3 py-1">
                        <!-- Stars section -->
                        Stars<br>
                        <input type="checkbox" name="stars" value="3" <% if (stars.includes("3")) { %> checked <% } %>>
                        <label for="3star">3 Stars</label><br>
                        <input type="checkbox" name="stars" value="4" <% if (stars.includes("4")) { %> checked <% } %>>
                        <label for="4star">4 Stars</label><br>
                        <input type="checkbox" name="stars" value="5" <% if (stars.includes("5")) { %> checked <% } %>>
                        <label for="5star">5 Stars</label><br>
                    </div>
                    <div class="border border-primary ml-5 px-3 py-1">
                        <!-- Ammenities section -->
                        Amenities<br>
                        <input type="checkbox" id="wifi" name="amenities" value="wifi" <% if (amenities.includes("wifi")) { %> checked <% } %>>
                        <label for="wifi">Free WiFi</label><br>
                        <input type="checkbox" id="parking" name="amenities" value="parking" <% if (amenities.includes("parking")) { %> checked <% } %>>
                        <label for="parking">Parking</label><br>
                        <input type="checkbox" id="shuttle" name="amenities" value="shuttle" <% if (amenities.includes("shuttle")) { %> checked <% } %>>
                        <label for="shuttle">Airport Shuttle</label><br>
                        <input type="checkbox" id="pool" name="amenities" value="pool" <% if (amenities.includes("pool")) { %> checked <% } %>>
                        <label for="pool">Swimming Pool</label><br>
                        <input type="checkbox" id="gym" name="amenities" value="gym" <% if (amenities.includes("gym")) { %> checked <% } %>>
                        <label for="gym">Fitness Center</label><br>
                    </div>
                </div>
                </section>
                </form>
            </div><!-- end column 1 -->
            <div class="col-7" id="col2">
                <div id="hotels">
                    <div class="bg-primary mr-5 p-3 text-white">
                        Hotels Available: <span class="numOfResults float-right"><%= rows.length %> Search Result</span>
                    </div>
                    <!-- Dynamically filled when results returned by search -->
                    <div id="hotelResults">
                    <% rows.forEach(function(row) { %>
                    <%- include("partials/hotel_card", {"row": row}) %>
                    <% }); %>
                    </div>
                </div>
            </div><!-- end col2 -->
        </div>
<%- include('partials/footer.ejs') %>